extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#nav-collapse')
          span.sr-only.
            Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/', id='brand').
          Rogen
      .navbar-collapse.collapse(id='nav-collapse')
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#new', id='new-record-a')
              span.white.glyphicon.glyphicon-plus
              |&nbsp;New Record
  .content
    #map-container
    .modal.fade.record-modal(role='dialog', id='record-modal', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='modal')
              span(aria-hidden='true').
                &times;
              span.sr-only.
                Close
            h4.modal-title.
              Title
          .modal-body.
            Yo Dawg
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal').
              Close
    script(id='new-record-modal-template' type='text/x-template')
      .modal.fade.new-record-modal(role='dialog', id='new-record-modal', tabindex='-1')
        .modal-dialog
          .modal-content
            form(role='form')
              input(type='hidden', class='latitude', name='latitude')
              input(type='hidden', class='longitude', name='longitude')
              .modal-header
                button(type='button', class='close', data-dismiss='modal')
                  span(aria-hidden='true').
                    &times;
                  span.sr-only.
                    Close
                h4.modal-title(id='myModalLabel').
                  New Record
              .modal-body
                .new-record-map-container
                hr
                .content
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal').
                  Cancel
                button.create.btn.btn-primary(type='submit').
                  Create
    .modal.fade.saved-record-modal(role='dialog', id='saved-record-modal', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-body
            h3.
              Record Saved
