doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width')
    link(rel='stylesheet', href='//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    block content
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='/static/js/lib/bundle.js')
