html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar .white {
  color: #fff;
}

.content {
  height: 100%;
}

#map-container {
  height: 100%;
}

.new-record-modal .new-record-map-container {
  height: 150px;
}

.record-modal .panel-body {
  padding: 10px;
}

.record-modal .panel-body h4, .record-modal .panel-body h5 {
  margin-top: 0;
  margin-bottom: 5;
}

.record-modal .panel-body dl {
  margin-bottom: 0;
}

.record-modal .panel-body p {
  margin-bottom: 0;
}

/* Inner panels */
.record-modal .panel .panel {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0;
}

.record-modal .panel .panel .panel-body {
  padding: 0;
}