html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar .white {
  color: #fff;
}

.content {
  height: 100%;
}

#map-container {
  height: 100%;
}

.new-record-modal .new-record-map-container {
  height: 150px;
}