html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar .white {
  color: #fff;
}

.content {
  height: 100%;
}

#map-container {
  height: 100%;
}

.new-record-modal .new-record-map-container .map {
  height: 150px;
}

.new-record-modal .new-record-map-container .map .crosshair {
  position: absolute;
  width: 65px;
  height: 65px;
  background: rgba(0, 0, 0, 0) url(../img/crosshair.png) 0 0 no-repeat scroll;
  top: 50%;
  left: 50%;
  margin: -32.5px 0 0 -32.5px;
  z-index: 11;
  pointer-events: none;
}

.record-modal .panel-body {
  padding: 10px;
}

.record-modal .panel-body h4, .record-modal .panel-body h5 {
  margin-top: 0;
  margin-bottom: 5;
}

.record-modal .panel-body dl {
  margin-bottom: 0;
}

.record-modal .panel-body p {
  margin-bottom: 0;
}

.record-modal .panel-body .alert {
  margin-bottom: 0;
  padding: 5px 10px;
}

.record-modal .panel-body .alert.yesno {
  display: inline-block;
}

.record-modal .form-group.photos, .new-record-modal .form-group.photos {
  margin-bottom: 0;
}

.record-modal .photo-row, .new-record-modal .photo-row {
  margin-left: 0;
  margin-right: 0;
}

.record-modal .photo-row .thumbnail, .new-record-modal .photo-row .thumbnail {
  margin: 5px;
  background-color: #f5f5f5;
}

/* Inner panels */
.record-modal .panel .panel:not(.photos), .new-record-modal .panel .panel:not(.photos) {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0;
}

.record-modal .panel .panel .panel-body, .new-record-modal .panel .panel .panel-body {
  padding: 0;
}

.new-record-modal .add-photo input {
  opacity: .001;
  position: relative;
  z-index: 30;
  width: 80px;
  height: 30px;
}

.saved-record-modal h3 {
  text-align: center;
}